# ChirpStack Configuration
CHIRPSTACK_URL=
CHIRPSTACK_TENANT_ID=
CHIRPSTACK_APP_ID=00000000-0000-0000-0000-000000000007
CHIRPSTACK_DEVICE_PROFILE="Hesia Multicast"
CHIRPSTACK_USERNAME=admin
CHIRPSTACK_PASSWORD=

# Pappstor Admin Configuration
PAPPSTOR_URL=
PAPPSTOR_USERNAME=
PAPPSTOR_PASSWORD=
